@media screen and (max-height: 500px) and (min-width: 600px) {
  .workClick {
    padding: 0 170px;
  }
}

@media screen and (max-width: 480px) {
  .bannerText h1 {
    font-size: 32px !important;
  }
  .slideDescription {
    font-size: 24px;
  }
}

@media screen and (max-width: 630px) {
  .work {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .bannerText h1 {
    font-size: 42px;
  }
}

@media screen and (max-width: 992px) {
  .work {
    width: 50%;
  }

  #testimonials{
    flex-direction: column;
  }

  .slideContainer {
    width: 100%;
  }

  .slideInformationContainer {
    width: 100%;
  }

}

@media screen and (max-width: 1024px) {
  .mobNav {
    display: flex;
  }

  .nav {
    display: none;
  }
}

@media screen and (max-width: 1180px) {
  .teamCard {
    margin-right: 70px;
    margin-left: 70px;
  }
}

@media screen and (max-width: 1332px) {
  .slideInformationContainer {
    padding: 60px 70px 80px 70px;
  }
}
