
@import "banner";
@import "features";
@import "works";
@import "teams";
@import "testimonials";
@import "download";
@import "footer";
@import "media";

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #6c7279;

}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

a, a:active, a:hover, a:focus {
  outline: 0;
  outline-offset: 0;
}

.cutMuchText {
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
