#Testimonials {
  width: 100%;
  display: flex;
  overflow: hidden;


}

.slideContainer {
  width: 50%;
  max-height: 475px;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  animation: fadeIn1 1s !important;

}

.slideInformationContainer {
  width: 50%;
  padding: 100px 145px;
  background-color: #53354A;
  display: flex;
  flex-direction: column;
  position: relative;
}

.slideDescription {
  color: #fff;
  font: italic 36px "Cardo", Georgia, "Times New Roman", serif;

  display: none;
}

.author {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  margin-top: 30px;
  text-transform: uppercase;
  align-self: flex-start;

  display: none;
}

.slidesControllerContainer {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 7%;
  align-self: center;
}

.slidesControllerContainer > div + div {
  margin-left: 12px;
}

.slideController {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #755d6e;
  cursor: pointer;
}

.activeSlide {
  background-color: #fff !important;
}

.active {
  display: block !important;
  animation: fadeIn2 0.7s;

}

@keyframes fadeIn1 {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

@keyframes fadeIn2 {
  from { opacity: 0; }
  to { opacity: 1; }
}
